//fonts
$quicksand: 'Quicksand', sans-serif;


//colors

$beige: #f3e5d8;
$light-grey: #f5f5ef;
$green: rgb(87, 136, 75);

//sizes
$xs: 0.5rem;
$normal: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xlg: 5rem;
$xxlg: 7rem;

//button
$button-radius : 30px;

//breakpoints
$lg-breakpoints: 1024px;
$md-breakpoints: 768px;
$sm-breakpoints: 641px;
$xsm-breakpoints: 480px;